{% extends "base.html" %}
{% block title %}Faculty Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow-sm p-4 mt-4">
      <h4 class="text-center mb-3">Faculty Login</h4>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger">{{ messages[0] }}</div>
        {% endif %}
      {% endwith %}

      <form method="post">
        <div class="mb-3">
          <label class="form-label"><strong>Email</strong></label>
          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label"><strong>Password</strong></label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-dark w-100">Login</button>
      </form>

      <div class="text-center mt-3">
        <a href="/" class="text-decoration-none">← Back to Home</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
