{% extends "base.html" %}

{% block title %}Faculty Portal{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/faculty/dashboard">Faculty Portal</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#facultyNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="facultyNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/faculty/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faculty/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-3">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}
