{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <a class="navbar-brand" href="/student/home">Student Portal</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="/student/home">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/problems">Problems</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/my-project">My Project</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/weekly-progress">Weekly Progress</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/chat">Chat</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/notices" >Notices</a></li>
      <li class="nav-item"><a class="nav-link" href="/student/logout">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
